<div class="show-info">
<div class="card text-center" style="width: 27rem;">
    <div class="card-body">
      <p class="card-title"><%=@user.name%>'s Profile</p>
      <p class="card-subtitle mb-2 text-muted"><strong>Email:</strong><%= @user.email %></p>
      <p class="card-subtitle mb-2 text-muted"> Number of Tasks: <%= @user.tasks.count %></p>

  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Deadline</th>
      <th>RegistrationDate</th>
      <th>status</th>
      <th class="sort_link">Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

<% @tasks.each do |task| %>
      <tr>

        <td><%=task.name %></td>
        <td><%=task.Details %></td>
        <td><%=task.Deadline%></td>
        <td><%=task.created_at%></td>
        <td><%=task.status %></td>
        <td><%=task.priority%></td>
      </tr>
    <% end %>

  </tbody>
</table>
